{% assign file_extension = 'png' %}

<div class="product__details">
  <div class="product__heading">
    {% if section.settings.show_vendor %}
      <p class="product__vendor">{{ product.vendor }}</p>
    {% endif %}
    
    <h1 class="product__title type-heading-1">
      {% if is_placeholder %}
        {{ 'homepage.onboarding.product_title' | t }}
      {% else %}
        {{ product.title }}
      {% endif %}
    </h1>
    
    <div data-price-wrapper>
      <span data-product-price class="meta">
        {% if is_placeholder %}
          {{ 'homepage.onboarding.product_price' | t }}
        {% else %}
          {{ current_variant.price | money }}
        {% endif %}
      </span>

      <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
      <s class="meta" data-compare-price>
        {% if current_variant.compare_at_price > current_variant.price %}
          {{ current_variant.compare_at_price | money }}
        {% endif %}
      </s>
    </div>
    
    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
  </div>


  <div>
    {% if product != blank %}

      {% form 'product', product, data-product-form: '', data-product-handle: product.handle %}

        {% unless product.has_only_default_variant %}
          {% for option in product.options_with_values %}
            <div class="js-enabled mb3">

                <label for="Option{{ option.position }}" class="dib mb2">
                  {{ option.name }}
                </label>
              
              	{%- assign down_option = option.name | downcase -%}
              
              	{% if down_option == 'size' and section.settings.size_chart != blank %}
                  <a class="gdc-size-chart-link chocolat-image" href="{{ section.settings.size_chart }}" target="_blank">
                    {{ 'products.product.view_size_chart' | t }}
                  </a>
              	{% endif %}

                {% if section.settings.show_swatches %}
                  {%- assign option_name = option.name | downcase -%}
                  {%- assign option_setting = settings.swatch_option | downcase -%}

                  {% if option_name == option_setting %}
                    <div class="product__color-swatches" data-product-swatches data-product-option="Option{{ option.position }}">
                      {% for value in option.values %}
                        <a
                          href="#"
                          data-product-swatch
                          data-product-swatch-option="{{ value }}"
                          class="product__color-swatch {% if option.selected_value == value %}selected{% endif %}"
                          style="background-image: url({{ value | handle | append: '.' | append: file_extension | asset_url }})"
                          tabindex="0"
                        >
                        </a>
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endif %}

                {% comment %}
                  All inputs that have `name=options[Name]` will be picked up by
                  ProductForm, registered as an option input, and made available
                  at ProductForm.optionsInputs
                {% endcomment %}
                <div class="select-wrapper">
                  <select
                    id="Option{{ option.position }}"
                    name="options[{{ option.name | escape }}]"
                    class="input-reset input w-100"
                  >
                    {% for value in option.values %}
                      <option
                        value="{{ value | escape }}"
                        {% if option.selected_value == value %}selected="selected"{% endif %}>
                          {{ value }}
                      </option>
                    {% endfor %}
                  </select>
                </div>
            </div>
          {% endfor %}
        {% endunless %}

        {% comment %}
          In order for this form to submit, it needs to contain an input with name="id".
          ProductForm() will automatically create this input (or make sure it has the
          right value set if it already exists) on form submit based on the
          currently selected variant. However, if JS is disabled we need a fallback.

          Include a single <select> element which allows users to select all variants
          as a fallback and present it only when JS is disabled. In addition,
          make sure you hide the option inputs declared above, like we do with the
          `.js-enabled` class which only shows its contents when JS is enabled.
        {% endcomment %}
        <select data-variant-select name="id">
          {% for variant in product.variants %}
            <option
              {% if variant == current_variant %}selected="selected"{% endif %}
              {% unless variant.available %}disabled="disabled"{% endunless %}
              value="{{ variant.id }}">
                {{ variant.title }}
            </option>
          {% endfor %}
        </select>


        {% comment %}
          Any input with `name="quantity"` will be picked up by ProductForm and
          registered as a quantity input. If a quantity input is not included, a
          default quantity of 1 is assumed.
        {% endcomment %}
        {%- if section.settings.show_quantity_input -%}
          <div class="mb3">
            <label for="Quantity" class="dib mb2">{{ 'products.product.quantity' | t }}</label>
            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="input-reset input w-100">
          </div>
        {%- endif -%}

        <button
          type="submit"
          class="bttn bttn--full {% if section.settings.enable_payment_button %}bttn--secondary{% endif %} "
          data-add-button
          data-lang-available="{{ 'products.product.add_to_cart' | t }}"
          data-lang-sold-out="{{ 'products.product.sold_out' | t }}"
          {% unless current_variant.available %}disabled="disabled"{% endunless %}
        >

          <span class="bttn__spinner">
            <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              width="20px" height="20px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <path fill="currentColor" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
              <animateTransform attributeType="xml"
                attributeName="transform"
                type="rotate"
                from="0 25 25"
                to="360 25 25"
                dur="0.6s"
                repeatCount="indefinite"/>
              </path>
            </svg>
          </span>

          <span data-add-button-text>
            {% if current_variant.available %}
              {{ 'products.product.add_to_cart' | t }}
            {% else %}
              {{ 'products.product.sold_out' | t }}
            {% endif %}
          </span>

        </button>

        {% comment %}
          https://help.shopify.com/en/themes/customization/store/dynamic-checkout-buttons
        {% endcomment %}
        {% if section.settings.enable_payment_button %}
          {{ form | payment_button }}
        {% endif %}
      {% endform %}

    {% endif %}
  </div>

  <div class="product__description type-body-regular rte">
    {% if is_placeholder %}
      {{ 'homepage.onboarding.product_description' | t }}
    {% else %}
      {{ product.description }}
    {% endif %}
  </div>

  {% if section.settings.show_share_buttons %}
    {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
  {% endif %}

</div>