<div class="product-tile" data-component="productTile">
  {% if product.featured_media != blank or product.media.size > 1 %}

  	<a href="{{ product.url | within: collection }}">
      {% if product.media.size > 1 %}
        <div class="product-tile__images {% unless product.available %}o-70{% endunless %}">
          {% comment %} used for size {% endcomment %}
          <div class="product-tile__sizer">
            {% include 'responsive-image' with
              image: product.media[0].preview_image,
              max_width: 700,
              max_height: 800,
              section: section
            %}
          </div>
          <div class="product-tile__image first">
            {% include 'responsive-image' with
              image: product.media[0].preview_image,
              max_width: 700,
              max_height: 800,
              section: section
            %}
          </div>
          <div class="product-tile__image not-first">
            {% include 'responsive-image' with
              image: product.media[1].preview_image,
              max_width: 700,
              max_height: 800,
              section: section
            %}
          </div>
        </div>
      {% else %}
        <div class="product-tile__image">
          {% include 'responsive-image' with
            image: product.featured_media.preview_image,
            max_width: 700,
            max_height: 800,
            section: section
          %}
        </div>
      {% endif %}
  	</a>

      {% comment %} PRODUCT SWATCHES {% endcomment %}
      {% if swatches_enabled %}
        {% for option in product.options_with_values %}
          {%- assign file_extension = 'png' -%}
          {%- assign opt = option.name | downcase -%}
          {%- assign opt_setting = settings.swatch_option | downcase -%}

          {% if opt == opt_setting %}
            <div class="product-tile__swatches">
              {% for color in option.values %}
                <div
                  class="product-tile__swatch"
                  style="background-image: url({{ color | handle | append: '.' | append: file_extension | asset_url }})"
                ></div>
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% comment %} SALE BADGE {% endcomment %}
      {% if product.compare_at_price > product.price %}
        <div class="badge type-body-small lh-title absolute top-0 left-0 mt2 ml2 pv1 ph2 bg-sale white br2 shadow-1">
          {{ 'products.product.on_sale' | t }}
        </div>
      {% endif %}

      {% comment %} SOLD OUT BADGE {% endcomment %}
      {% unless product.available %}
        <div class="badge type-body-small lh-title absolute top-0 left-0 mt2 ml2 pv1 ph2 bg-white br2 shadow-1">
          {{ 'products.product.sold_out' | t }}
        </div>
      {% endunless %}

  {% endif %}


  <h2 class="type-body-regular mt3 mb1">
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
  </h2>
  <p class="meta ma0">
    {% if product.compare_at_price > product.price %}
      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
      <s>{{ product.compare_at_price | money }}</s>
    {% endif %}

    {% if product.compare_at_price > product.price %}

      {% if product.price_varies %}
        {%- assign sale_price = product.price | money -%}
        {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
      {% else %}
        <span class="sale">{{ product.price | money }}<span>
      {% endif %}

    {% else %}

      {% if product.price_varies %}
        {%- assign price = product.price | money -%}
        {{ 'products.product.from_text_html' | t: price: price }}
      {% else %}
        {{ product.price | money }}
      {% endif %}

    {% endif %}
  </p>
</div>
