<section
  data-section-id="{{ section.id }}"
  data-section-type="static-collection"
  class="collection"
>

  <script type="application/json" data-tags>
    {% if collection.all_tags.size > 0 %}
      [
        {%- for tag in collection.all_tags -%}
          { "label": "{{ tag | escape }}", "handle": "{{ tag | handleize }}" }
          {%- if forloop.last == false -%}, {%- endif -%}
        {%- endfor -%}
      ]
    {% else %}
      []
    {% endif %}
  </script>

{% assign paginate_by = 36 %}
{% if template contains 'view-12' %}
  {% assign paginate_by = '12' %}
{% elsif template contains 'view-24' %}
  {% assign paginate_by = '24' %}
{% elsif template contains 'view-36' %}
  {% assign paginate_by = '36' %}
{% endif %}

{% assign product_tile_row_utility_classes = "" %}

{% case section.settings.collection_products_per_row %}
  {% when 4 %}
    {% assign product_tile_row_utility_classes = "w-50 w-third-m w-25-l " %}
  {% when 3 %}
    {% assign product_tile_row_utility_classes = "w-50 w-third-m w-third-l " %}
  {% when 2 %}
    {% assign product_tile_row_utility_classes = "w-50 " %}
{% endcase %}

{% paginate collection.products by paginate_by %}
  {% for block in section.blocks %}
  	{% if block.settings.collection == collection.handle %}
      <div class="section gdc-branded-collection">
        <div class="gdc-branded-collection__logo">
          {% if block.settings.logo != blank %}
            <style>
              {% assign width = block.settings.logo_width | plus: 0 %}

              .gdc-branded-collection__logo-image {
                max-width: {{ width }}px;
              }
            </style>
          {% endif %}
          
          <div class="gdc-branded-collection__logo-image">
            {% if block.settings.logo != blank %}
              {% include 'responsive-image' with
                image: block.settings.logo,
                max_width: 480,
                max_height: 480
              %}
            {% else %}
              {{ block.settings.logo_text }}
            {% endif %}
          </div>
        </div>

        <div class="gdc-branded-collection__content">
          <div class="gdc-branded-collection__content-text">
			{{ block.settings.text }}
          </div>

          <div class="gdc-branded-collection__content-image">
            {%- assign image_object = block.settings.image -%}
            
            {% include 'responsive-image' with
              image: image_object,
              max_width: 2048,
              max_height: 2048
            %}
          </div>
        </div>

        <div class="gdc-branded-collection__collections">
          {% for i in (1..3) %}
          	{% capture image_setting %}filtered_collection_{{ i }}_image{% endcapture %}
            {% capture title_setting %}filtered_collection_{{ i }}_title{% endcapture %}
            {% capture link_setting %}filtered_collection_{{ i }}_link{% endcapture %}
          	{%- assign image = block.settings[image_setting] %}
            {%- assign title = block.settings[title_setting] %}
            {%- assign link = block.settings[link_setting] %}
          
            <div class="gdc-branded-collection__collection w-50 w-third-m w-third-l ph1 ph2-ns mb2">
			  <a href="{{ link }}" class="gdc-branded-collection__collection-link">
                {% include 'responsive-image' with
                  image: image,
                  max_width: 480,
                  max_height: 480
                %}
                
                <div class="gdc-branded-collection__collection-title">{{ title }}</div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
  
  	  {% break %}
    {% endif %}
  {% endfor %}

  <header role="banner" class="section section-{{ section.id }}">
    <div class="section--standard flex flex-wrap">
      <div class="collection__details
          		  {% if section.settings.show_collection_image and collection.image == blank %}collection__details--no-image{% endif %}"
      >
        <div class="collection__details__heading{% if section.settings.price_match_image == blank %} no-image{% endif %}">
          <p class="type-heading-meta meta mt0 mb3">
            {{ 'collections.general.name' | t }}
          </p>
          <h1 class="type-heading-1 mv3 ma0">{{ collection.title }}</h1>
        </div>
        
        {% if section.settings.price_match_image != blank %}
          <style>
            {% assign width = section.settings.price_match_image_width | plus: 0 %}
            
            .section-{{ section.id }} .collection__details__image img {
              max-width: {{ width }}px;
            }
          </style>
        
          <div class="collection__details__image">
            {% if section.settings.price_match_image_link != blank %}
              <a href="{{ section.settings.price_match_image_link }}">
            {% endif %}
            
              {{ section.settings.price_match_image | img_url: '300x', scale: 2 | img_tag }}
           	
            {% if section.settings.price_match_image_link != blank %}
              </a>
            {% endif %}
          </div>
        {% endif %}
        
        <div class="collection__details__description">
          {% if collection.description != blank %}
            <div class="type-body-regular rte measure">
              {{ collection.description }}
            </div>
          {% endif %}
        </div>
      </div>

      {% if section.settings.show_collection_image and collection.image != blank %}
        <div
          class="lazyload collection__image"
          data-bgset="{% include 'responsive-bg-image', image: collection.image %}"
          role="img"
          aria-label="{{ collection.image.alt }}"
        ></div>
      {% endif %}
    </div>
  </header>

  <div class="collection__container">
    {% include 'collection-bar' %}
    {% include 'filter-drawer' %}
    {% include 'sort-drawer' %}

    <div class="collection__products">
      {% for product in collection.products %}
        <div class="{{ product_tile_row_utility_classes }}ph1 ph2-ns mb4">
          {% include 'product-tile', product: product, swatches_enabled: section.settings.show_swatches %}
        </div>

      {% else %}
        {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
          {% for i in (1..8) %}
            <a href="#">
              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
            </a>

            <p>
              <a href="#">{{ 'homepage.onboarding.product_title' | t }}</a>
            </p>

            <p>
              {{ 1999 | money }}
            </p>
          {% endfor %}
        {% else %}
          <p class="db tc w-100 mv6">{{ 'collections.general.no_matches' | t }}</p>
        {% endif %}

      {% endfor %}
    </div>
  </div>


  <div class="section mt0">
    <hr class="mt0 mb3 b--solid b--default bb" style="border-top: none;" />
    {% if paginate.pages > 1 %}
      {% include 'pagination' with type: 'general.pagination.products' %}
    {% else %}
      {% include 'pagination' with type: 'general.pagination.products', display_paginate_item_count_only: true %}
    {% endif %}
  </div>


{% endpaginate %}
</section>

{% schema %}
  {
    "name": "Branded collection pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "label": "Show collection image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_swatches",
        "label": "Show swatches",
        "default": false
      },
      {
        "type": "range",
        "id": "collection_products_per_row",
        "label": "Products per row",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 4
      },
	  {
        "type": "header",
        "content": "Price Match Image"
      },
	  {
        "type": "image_picker",
        "id": "price_match_image",
        "label": "Image"
      },
	  {
        "type": "range",
        "id": "price_match_image_width",
        "label": "Image width",
        "min": 100,
        "max": 200,
        "step": 5,
		"unit": "px",
        "default": 150
      },
	  {
        "type": "url",
        "id": "price_match_image_link",
        "label": "Image link"
      }
    ],
	"blocks": [
	  {
		"type": "collection",
		"name": "Collection",
		"settings": [
		  {
			"type": "collection",
			"id": "collection",
			"label": "Collection",
			"info": "Collection that the following settings should apply to"
		  },
		  {
			"type": "image_picker",
			"id": "logo",
			"label": "Logo"
		  },
    	  {
            "type": "range",
            "id": "logo_width",
            "label": "Image width",
            "min": 100,
            "max": 300,
            "step": 5,
            "unit": "px",
            "default": 200
          },
		  {
			"type": "text",
			"id": "logo_text",
			"label": "Logo text",
			"info": "Will display if no image is selected"
		  },
		  {
			"type": "richtext",
			"id": "text",
			"label": "Text"
		  },
		  {
			"type": "image_picker",
			"id": "image",
			"label": "Image"
		  },
		  {
			"type": "header",
			"content": "Filtered collection 1"
		  },
		  {
			"type": "image_picker",
			"id": "filtered_collection_1_image",
			"label": "Image"
		  },
		  {
			"type": "text",
			"id": "filtered_collection_1_title",
			"label": "Title"
		  },
		  {
			"type": "url",
			"id": "filtered_collection_1_link",
			"label": "Link"
		  },
		  {
			"type": "header",
			"content": "Filtered collection 2"
		  },
		  {
			"type": "image_picker",
			"id": "filtered_collection_2_image",
			"label": "Image"
		  },
		  {
			"type": "text",
			"id": "filtered_collection_2_title",
			"label": "Title"
		  },
		  {
			"type": "url",
			"id": "filtered_collection_2_link",
			"label": "Link"
		  },
		  {
			"type": "header",
			"content": "Filtered collection 3"
		  },
		  {
			"type": "image_picker",
			"id": "filtered_collection_3_image",
			"label": "Image"
		  },
		  {
			"type": "text",
			"id": "filtered_collection_3_title",
			"label": "Title"
		  },
		  {
			"type": "url",
			"id": "filtered_collection_3_link",
			"label": "Link"
		  }
		]
	  }
	]
  }
{% endschema %}